body {
	background-color: ghostwhite;
	margin: 0px;
	font-family: Georgia;
	height: 100%;
}

p {
	color: black;
}

a {
	text-decoration: none;
}

.formInput {
	display: inline-block;
	margin-bottom: 10px;
	text-align: left;
}

.homeTile {
	height: 150px;
	width: 20%;
	padding: 1px;
	background-color: skyblue;
	border-radius: 5px;
	display: inline-block;
	float: left;
}

.houseIcon {
	float: left;
	height: 100%;
}

.inputHeader {
	font-size: 25px;
}

.taskHeader {
	height: 75px;
	border: 1px solid grey;
}

.taskLevel {
	max-height: 33%;	
}

.taskLevel img {
	width: 20%;
	margin-left: 10%;
}

.taskTitle {
	float: left;
}

.taskAction {
	width: 15%;
	height: 10%;
}

.uInput {
	border-radius: 5px;
	background-color: lightgrey;
	height: 25px;
	font-size: 25px;
}

#content {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#header {
	background-image: url("images/homeBanner.jpg");
	height: 120px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#icon {
	width: 75%;
	display: block;
	margin: auto;
}

#loginForm {
	padding: 10px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	/*border: 2px solid grey;*/
	border-radius: 25px;
	width: 500px;
	height: 300px;
	background-color: skyblue;
}

#loginHeader {
	color: cornflowerblue;
}

#main {
	text-align: center;
}

#mainContent {
	float: right;
	width: 83%;
	height: 800px;
	background-color: white;
	padding: 1%;
}

#sidebar {
	padding: 1%;
	float: left;
	width: 13%;
	background-color: lightgrey;
	height: 800px;
}

#tagLine {
	color: rgb(70, 100, 118);
	font-style: italic;
}

#tileDiv {
	/*border: 2px solid grey;*/
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 75px;
	font-family: Tahoma, sans-serrif;
	color: rgb(70, 100, 118);
}

